  <div class="container-fluid">
        <h2 class="text-center">Create a new Quotes</h2>
        <hr>
        <form  (ngSubmit)='addQuote(); quotesForm.resetForm({})' #quotesForm='ngForm' > 
  
         
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.name" name="name"  required>
        
          
            <label for="description">Quote</label>
            <textarea class="form-control" id="quotes" rows="2" [(ngModel)]="newQuotes.quotes" name="quotes"
              #quote='ngModel' required></textarea>
      
          
            <label for="name">Quote Author</label>
            <input type='text' class="form-control" id="author" [(ngModel)]="newQuotes.author" name="author" #quote="ngModel"
              required>
       
  
          <button type="submit" class="btn btn-success">Add Quote </button>
  
        </form> 
  </div>    
      
  
