<div class="container">
    <h1>My Quotes</h1>
    <hr>

        <div class="row">
            <div class="col-md-6">
                <div *ngFor='let quote of quotes;let i = index'>
                </div>
                <div>
                    <h4 id="{{i}}" appHighlight>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>  
                </div>
                <div *ngIf='quotes.showDescription'>
                    <app-quotes-detail [quotes]='quotes'(isComplete) = 'deleteQuotes($event,i)'></app-quotes-detail>
                </div>
    
            </div>
        
        </div>
        <p *ngIf='quote.length> 5'>You have too many Quotes</p>
</div>
