 <div>
  <app-quotes-form (add)="addNewQuotes($event)"></app-quotes-form>
</div>
<div class="container quote-card-container">
  <div *ngFor='let quote of quotes; let i = index'>
    <div class="card shadow p-3 mb-5 bg-transparent rounded card quote-card ">
      <div class="card-body">
        <div class="card-header">
          <strong>Quotted by: {{quote.name|uppercase}}</strong>
        </div>
        <hr>
        <blockquote class="blockquote mb-0">
          <p appHighlight *ngIf="highestUpvote()===quote.like && quote.like>0">
            {{quote.quotes}} <br>
          </p>
          <p *ngIf="highestUpvote()!==quote.like || quote.like===0"> {{quote.quotes}} 
          </p>
        </blockquote>
        <p>
          Created: <span>{{ quote.dateposted|dateCount}}</span>
        </p>

        <br>
        <div>
          <app-quotes-detail [quote]='quote' (isComplete)='quoteDelete($event,i)'></app-quotes-detail>
        </div>
      </div>
    </div>
  </div>
</div>